@charset "UTF-8";
:root {
  --color-blue: #2396f3;
  --white-color: #ffffff;
  --black-color: #212121;
  --gray-color: #757575;
  --graybackground-color: #f5f4fa;
  --gray-icons: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

h1 {
  font-weight: 900;
  font-size: 44px;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--white-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  text-align: justify;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  max-width: 1600px;
  min-width: 320px;
  max-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--gray-color);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Resto de tu CSS aquí */
@media screen and (min-width: 768px) {
  .header {
    max-width: 1200px;
    min-width: 768px;
    max-height: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1600px;
    max-height: 80px;
  }
}
.header__container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 0;
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .header__logo {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200) {
  .header__logo {
    margin-left: 93px;
  }
}

.header .header__container > .header__logo .header__logo--web {
  color: var(--black-color);
}

.menu-toggle {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
}
.header__menu:hover,
.header__menu:focus {
  fill: var(--color-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    margin-left: 0px;
    list-style: none;
  }
}

.header__nav__item {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 25px;
}

.header__nav__item:hover,
.header__nav__item:focus {
  color: var(--color-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav .header__nav__item--after {
  position: relative;
  color: var(--color-blue);
}

.header__nav .header__nav__item--after:after {
  position: absolute;
  content: "";
  border: 3px solid var(--color-blue);
  border-radius: 2px;
  bottom: 0px;
  width: 42px;
  left: 25px;
}
@media screen and (min-width: 481px) and (max-width: 1199px) {
  .header__nav .header__nav__item--after:after {
    bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav .header__nav__item--after:after {
    bottom: 4px;
  }
}

.header__nav .header__nav__item--after-2 {
  position: relative;
  color: var(--color-blue);
}

.header__nav .header__nav__item--after-2:after {
  position: absolute;
  content: "";
  border: 3px solid var(--color-blue);
  border-radius: 2px;
  bottom: 0px;
  width: 60px;
  left: 24px;
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .header__nav .header__nav__item--after-2:after {
    bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav .header__nav__item--after-2:after {
    width: 60px;
    left: 25px;
    bottom: 4px;
  }
}
.header__list-contact {
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list-contact {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list-contact {
    display: flex;
    flex-direction: row;
    margin-left: 93px;
  }
}

.header__list-contact__item {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .header__list-contact__item {
    font-size: 12px;
  }
}
.header__list-contact__item svg {
  vertical-align: middle;
}

.header__list-contact li:hover .header__list-contact__item svg {
  fill: var(--color-blue);
}

.header__list-contact li:hover .header__list-contact__item {
  color: var(--color-blue);
}

.icon-cel {
  width: 10px;
  height: 16px;
  fill: var(--gray-color);
  flex-shrink: 0;
  justify-content: center;
  margin-left: 5px;
  padding: 10px;
}

.icon-sobre {
  width: 16px;
  height: 12px;
  fill: var(--gray-color);
  flex-shrink: 0;
  margin-left: 5px;
  padding: 10px;
}

/*----------------------------------------------------*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--white-color);
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 94px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--black-color);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

.mobile-menu .link:hover {
  color: var(--color-blue);
}

.mobile-menu__2 {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 64px;
}

.mobile-menu__2 .link__2 {
  display: block;
  padding: 10px;
  color: var(--color-blue);
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

.mobile-menu__2 .link__3 {
  display: block;
  padding: 10px;
  color: var(--gray-color);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.mobile-menu__2 .link__3:hover {
  color: var(--color-blue);
}

.mobile-menu__3 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.mobile-menu__3 .link__4 {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-blue);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
  border-left: 1px solid var(--color-blue);
}

.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(47, 48, 58, 0.4);
  background-image: url(../images/Imagen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imagen@2x.jpg);
  }
}
.hero__title {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.01em;
  line-height: 1;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.01em;
    line-height: 1;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding-top: 200px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1;
  }
}

.hero__btn {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px 10px 32px;
  width: 261px;
  height: 50px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--color-blue);
  border: none;
  cursor: pointer;
  margin-bottom: 128px;
}
@media screen and (min-width: 480px) {
  .hero__btn {
    margin-bottom: 128px;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin-bottom: 280px;
  }
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--white-color);
  color: var(--color-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /*visibilidad*/
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*visibilidad*/
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal__container {
  position: absolute;
  width: 450px;
  height: 609px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
}

@media screen and (min-width: 1200px) {
  .modal__container {
    width: 528px;
    height: 581px;
  }
}
.modal__button {
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--white-color);
  fill: var(--color-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-top: 8px;
  margin-left: 412px;
}

@media screen and (min-width: 1200px) {
  .modal__button {
    margin-left: 490px;
  }
}
.modal__button:hover {
  fill: var(--white-color);
  background-color: var(--color-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  height: 18px;
  width: 18px;
}

.modal__form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__form__group {
  padding-top: 0px;
  border: none;
  position: relative;
  padding-left: 37px;
  padding-right: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form__group .modal__form__title {
  color: var(--black-color);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  padding-bottom: 10px;
}

.modal__form__label {
  width: 370px;
  color: #212121;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal__form__div .modal__form__input-container {
  position: relative;
  margin-bottom: 10px;
}

.modal__form__div .modal__form__input-container .modal__form__icon-container {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  fill: var(--black-color);
}

.modal__form__input {
  width: 370px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  text-indent: 42px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--gray-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1200px) {
  .modal__form__input {
    width: 448px;
  }
}
/*user*/
.modal__form .username {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
  position: relative;
}

/*user*/
#user-input:focus {
  outline: none;
  border-color: var(--color-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#user-input:focus + .modal__form__label .persona {
  fill: var(--color-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

/*telefono*/
#user-telefono:focus {
  outline: none;
  border-color: var(--color-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#user-telefono:focus + .modal__form__label .telefono {
  fill: var(--color-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*email*/
#user-email:focus {
  outline: none;
  border-color: var(--color-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#user-email:focus + .modal__form__label .email {
  fill: var(--color-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*textarea*/
.modal__form__input--textarea {
  width: 340px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px 12px 16px;
  resize: none;
  color: var(--gray-color);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .modal__form__input--textarea {
    width: 422px;
    padding-top: 20px;
  }
}
.modal__form__input--textarea:focus {
  outline: none;
  border-color: var(--color-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*confirmacion*/
.modal__form__label--checkbox {
  position: relative;
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  .modal__form__input--checkbox {
    margin-right: 51px;
    margin-left: 52px;
  }
}
.modal__form__label--checkbox .checkbox-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url("./images/icons.svg#icon-revisado");
  background-size: cover;
  pointer-events: none;
  fill: var(--color-blue);
  margin-top: 9px;
  margin-left: -2px;
}

.hidden {
  display: none;
}

.modal__form__label__rectangle-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 14px;
  background-color: transparent;
  pointer-events: auto;
  border: 1px solid var(--black-color);
  margin-top: 7px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

.modal__form__group .modal__form__label--checkbox {
  color: var(--gray-color);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
  position: relative;
  justify-content: center;
}

.modal__form__label--checkbox .modal__form__label--checkbox-span {
  color: var(--color-blue);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
}

/*BUTTON*/
.modal__form__group .modal__form__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  border: none;
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.09em;
  cursor: pointer;
}

.modal__form__group .modal__form__button:hover {
  background-color: var(--white-color);
  color: var(--color-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.listtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.listtext__details {
  list-style: none;
  padding-top: 95px;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .listtext__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .listtext__details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.listtext .listtext__details .listtext__details-div {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .listtext .listtext__details .listtext__details-div {
    text-align: justify;
  }
}
@media screen and (min-width: 768px) {
  .listtext .listtext__details .listtext__details-div {
    text-align: justify;
  }
}

.listtext .listtext__details .listtext__details-div .listtext__details-rectangle {
  border-radius: 4px;
  background: var(--graybackground-color);
  width: 450px;
  height: 120px;
  flex-shrink: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .listtext .listtext__details .listtext__details-div .listtext__details-rectangle {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .listtext .listtext__details .listtext__details-div .listtext__details-rectangle {
    width: 270px;
  }
}

.listtext__details-rectangle .listtext__details__svg {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

.listtext__details-div .listtext__details-item {
  flex-basis: calc((100% - 60px) / 4);
}
@media screen and (min-width: 480px) {
  .listtext__details-div .listtext__details-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .listtext__details-div .listtext__details-item {
    flex-basis: calc((100% - 120px) / 2);
  }
}

.listtext__content-text {
  margin-top: 10px;
  width: 450px;
}
@media screen and (min-width: 481px) {
  .listtext__content-text {
    width: 354px;
  }
}
@media screen and (min-width: 768px) {
  .listtext__content-text {
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .list-images {
    display: none;
  }
}
.list-images {
  margin: 0;
  padding: 0;
}

.list-images .container {
  display: flex;
  flex-direction: column;
}

.list-images .container .list-images__title {
  padding-top: 94px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .list-images__details {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  padding-bottom: 94px;
}

.list-images__details__item {
  position: relative;
}

.container .list-images__details .list-images__details__div {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 373px;
  flex-shrink: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 500;
}

.container .list-images__details .list-images__details__div .list-images__details__div__text {
  color: var(--white-color);
  text-align: center;
  padding-top: 27px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.list-images__details > .list-images__details__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 46px) / 3);
  margin: 0;
  padding: 0;
  position: relative;
}

.listteam {
  background-color: var(--graybackground-color);
  background-size: cover;
}

.listteam .container {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container > .listteam__title {
  padding-top: 94px;
}

.listteam__link {
  text-decoration: none;
}

.listteam__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .listteam__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .listteam__details {
    display: flex;
    flex-direction: row;
  }
}

.listteam__details__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  justify-content: center;
  width: 450px;
  height: 622px;
  flex-basis: calc((100% - 74px) / 4);
}
@media screen and (min-width: 768px) {
  .listteam__details__item {
    flex-basis: calc((50% - 30px) / 4);
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .listteam__details__item {
    flex-basis: calc((25% - 30px) / 4);
    width: 270px;
    height: 428px;
  }
}

.listteam__details__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.listteam__img {
  width: 450px;
  height: 460px;
  flex-shrink: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .listteam__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .listteam__img {
    width: 270px;
    height: 260px;
  }
}

.listteam__socialmedia {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 42px;
}

.elipse {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  fill: var(--white-color);
}

.listteam__div__name {
  text-align: center;
  margin-bottom: 10px;
}

.listteam__div__text {
  text-align: center;
}

.elipse {
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.elipse:hover {
  background-color: var(--color-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elipse:hover svg {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  cursor: pointer;
}

.twitter {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  cursor: pointer;
}

.facebook {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  cursor: pointer;
}

.linkedin {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #afb1b8;
  cursor: pointer;
}

.elipse {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  fill: var(--white-color);
}

.usualcostumers .container {
  display: flex;
  flex-direction: column;
}

.usualcostumers__title {
  margin-top: 59px;
}

.usualcostumers__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 44.02px;
  margin-bottom: 151px;
}
@media screen and (min-width: 768px) {
  .usualcostumers__list {
    grid-template-columns: repeat(3, 1fr);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .usualcostumers__list {
    display: flex;
    justify-content: space-evenly;
    margin-right: -15px;
  }
}

.usualcostumers__list__div {
  width: 170px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .usualcostumers__list__div {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .usualcostumers__list__div {
    width: 170px;
  }
}
.usualcostumers__list__div:hover svg, .usualcostumers__list__div:focus svg {
  border-color: #007bff;
  fill: #007bff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.usualcostumers__list__div:hover {
  border: 1px solid #007bff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.usualcostumers__list__div__item {
  width: 106px;
  height: 52.826px;
  flex-shrink: 0;
  fill: #afb1b8;
}

footer {
  background-color: #2F303A;
  max-width: 480px;
}
@media screen and (min-width: 481px) {
  footer {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    max-width: 1600px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 481px) {
  .container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer .footer__column1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer__textlogo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
  margin-left: 163px;
  margin-right: 163px;
}
@media screen and (min-width: 768px) {
  .footer__textlogo {
    margin-left: 115px;
    margin-right: 234px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__textlogo {
    margin-left: 0px;
    margin-right: 234px;
  }
}

.footer__textlogo .footer__textlogo--web {
  color: var(--white-color);
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 14px;
  margin-left: 60px;
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: -60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    align-items: self-start;
    margin-left: 0px;
    width: 231px;
  }
}

.footer__address__list--active a {
  color: var(--white-color);
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
}

@media screen and (min-width: 768px) {
  .footer .footer__column2 {
    margin-top: -60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer__column2 {
    margin-top: -42px;
    margin-left: -60px;
  }
}

.footer .footer__column2 .footer__socialmedia-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer__column2 .footer__socialmedia {
  color: var(--white-color);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
  margin-top: 37px;
  margin-left: 44px;
  margin-right: 44px;
}
@media screen and (min-width: 768px) {
  .footer__column2 .footer__socialmedia {
    margin-right: 99px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column2 .footer__socialmedia {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column2 .footer__socialmedia {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.footer__socialmedia-list__item {
  padding-right: 10px;
}

.footer__socialmedia-list__item svg {
  fill: var(--color-blue);
}

.footer__socialmedia-list__item .elipse {
  background-color: var(--graybackground-color);
}

.footer__socialmedia-list__item .elipse:hover {
  background-color: var(--color-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*column3*/
.footer__column3 {
  margin-left: 0px;
  margin-top: 72px;
  margin-right: 0px;
}
@media screen and (min-width: 1200px) {
  .footer__column3 {
    margin-top: 42px;
    margin-left: 70px;
  }
}

.footer__column3 .footer__form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
@media screen and (min-width: 481px) {
  .footer__column3 .footer__form__group {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column3 .footer__form__group {
    flex-direction: row;
  }
}

.footer__form__group .footer__form__title {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__form__group .footer__form__title {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form__group .footer__form__title {
    margin-left: -230px;
  }
}

.footer__column3 input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}

.footer__column3 input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}

.footer__column3 input {
  width: 380px;
  height: 50px;
  margin-bottom: 30px;
}
@media screen and (min-width: 481px) {
  .footer__column3 input {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__column3 input {
    margin-bottom: 58px;
  }
}

.footer__column3 input[type=text] {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.footer__column3 input[type=text].active {
  color: var(--white-color);
  padding-left: 16px;
}

.footer__form__group .footer__form__button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  border: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 60px;
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  margin-right: 20px;
}
@media screen and (min-width: 481px) {
  .footer__form__group .footer__form__button {
    margin-right: 137px;
    margin-left: 137px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form__group .footer__form__button {
    margin-left: 10px;
  }
}

.footer__form__group .footer__form__button:hover {
  background-color: var(--white-color);
}

.footer__form__group .footer__form__button:hover .footer__form__button--submit {
  color: var(--color-blue);
}

.footer__form__group .footer__form__button:hover .enviar {
  fill: var(--color-blue);
}

.footer__form__group .footer__form__button > .enviar {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}

.section-one .container {
  display: flex;
  flex-direction: column;
}

.main__btnlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  padding-top: 112px;
  margin-bottom: 56px;
}
@media screen and (min-width: 480px) {
  .main__btnlist {
    display: flex;
    justify-content: center;
  }
}

.main__btnlist__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 3%;
  padding: 10px 24px 10px 24px;
  border-radius: 4px;
  background-color: var(--graybackground-color);
  color: var(--black-color);
  cursor: pointer;
  border: none;
  margin: 8px;
  text-align: center;
}

.main__btnlist__item:hover {
  color: var(--white-color);
  background-color: var(--color-blue);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__cards {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .main__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .main__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main__card__div {
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
  width: 450px;
  height: 404px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc((100% - 60px) / 9);
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .main__card__div {
    width: 354px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .main__card__div {
    max-width: 370px;
    max-height: 404px;
  }
}

.main__card__div-card {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.main__card__div:hover .overlay {
  transform: translateY(0);
  transition: transform 250ms ease-in-out;
  opacity: 1;
}

.overlay p {
  color: var(--white-color);
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
}

.main__card__div:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__card-div__padding {
  margin: 20px 24px 20px 24px;
}

.main__card__content-title {
  text-align: left;
  margin-bottom: 1em;
  padding-top: 20px;
  padding-left: 24px;
}

.main__card__content-text {
  text-align: left;
  margin-bottom: 1em;
  padding-left: 24px;
}

/*# sourceMappingURL=main.css.map */