footer {
     background-color: #2F303A;
     max-width: 480px;

   
    @media screen and (min-width: 481px) {
        max-width: 1200px;   

    }
    
    @media screen and (min-width: 1200px) {
        max-width: 1600px;   
    }
}

 .container {
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    @media screen and (min-width: 481px) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
@media screen and (min-width: 1200px) 
{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    
}
}

.footer .footer__column1 {
    margin-top: 60px;
    margin-bottom: 60px;
   
}





.footer__textlogo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--color-blue);
    text-decoration: none;
    margin-left: 163px;
    margin-right: 163px;

@media screen and (min-width: 768px) {
    
       margin-left: 115px;
    margin-right: 234px;
}
@media screen and (min-width: 1200px) {
    
       margin-left: 0px;
    margin-right: 234px;
}

}

.footer__textlogo .footer__textlogo--web {
    color: var(--white-color);
}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 14px;
    margin-left: 60px;
    margin-right: 60px;
    
    @media screen and (min-width: 768px) {
    
       margin-left: -60px;

}
@media screen and (min-width: 1200px) {
    align-items: self-start;
    margin-left: 0px;
    width: 231px;
    
}
}



.footer__address__list--active a {
    color: var(--white-color);
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
    
}


.footer .footer__column2{
    @media screen and (min-width: 768px) {
    margin-top: -60px;
}
    @media screen and (min-width: 1200px) {
    margin-top: -42px;
    margin-left: -60px;
}
}

.footer .footer__column2 .footer__socialmedia-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer__column2 .footer__socialmedia {
    color: var(--white-color);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
    margin-top: 37px;
    margin-left: 44px;
    margin-right: 44px;
      @media screen and (min-width: 768px) {
    
       margin-right: 99px;

}
  @media screen and (min-width: 1200px) {
    
       margin-right: 0px;

}

    @media screen and (min-width: 1200px) {
        margin-left: 0px;
            margin-top: 0px;
        
    }



}

.footer__socialmedia-list__item {
    padding-right: 10px;

}

.footer__socialmedia-list__item svg {
    fill: var(--color-blue);
}

.footer__socialmedia-list__item .elipse {
    background-color: var(--graybackground-color);
}

.footer__socialmedia-list__item .elipse:hover {
    background-color: var(--color-blue);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*column3*/
.footer__column3 {
    margin-left: 0px;
    margin-top: 72px;
    margin-right: 0px;

    @media screen and (min-width: 1200px) {
        margin-top: 42px;
            margin-left: 70px;
      
        
    }
}

.footer__column3 .footer__form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    @media screen and (min-width: 481px) {
        flex-direction: column;
    }
     @media screen and (min-width: 1200px
    ) {
        flex-direction: row;
    }
    
}

.footer__form__group .footer__form__title {
    color: var(--white-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  text-align: center;



    @media screen and (min-width: 768px) {
       margin-left: 0px;
    }
       @media screen and (min-width: 1200px) {
             margin-left: -230px;
    }

}

.footer__column3 input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
   margin-bottom: 20px;
}

.footer__column3 input {
    width: 450px;
    height: 50px;
    margin-bottom: 30px;

   
     @media screen and (min-width: 481px) {
        width: 358px;
    }
      @media screen and (min-width: 1200px) {
         margin-bottom: 58px;
    }
}

.footer__column3 input[type="text"] {

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    
}

.footer__column3 input[type="text"].active {
    color: var(--white-color);
    padding-left: 16px;
}


.footer__form__group .footer__form__button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    border: none;
    cursor: pointer;
    padding: 0;
 margin-bottom: 60px;

 @media screen  and (min-width: 481px) {
    margin-right: 137px;
    margin-left: 137px;
 }
  @media screen  and (min-width: 1200px) {
 
    margin-left: 10px;
 }

}

.footer__form__group .footer__form__button:hover {
    background-color: var(--white-color);
}

.footer__form__group .footer__form__button:hover .footer__form__button--submit {
    color: var(--color-blue);
}

.footer__form__group .footer__form__button:hover .enviar {
    fill: var(--color-blue);
}

.footer__form__group .footer__form__button .footer__form__button--submit {
    color: var(--white-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    margin-right: 20px;
}



.footer__form__group .footer__form__button>.enviar {
    height: 24px;
    width: 24px;
    fill: var(--white-color);
}
