 .header {
    max-width: 100%;
    min-width: 320px;
    max-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--gray-color);
}


@media screen and (min-width: 481px) and (max-width: 1199px) {
    .header {
        max-width: 100%;
        max-height: 94px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        max-width: 100%;
        max-height: 80px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.header__container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--color-blue);
    text-decoration: none;
    margin-top: 16px; 
    margin-bottom: 16px;
    margin-left: 0;
    
 @media screen and (min-width: 481px) and (max-width: 1199px) {
        margin-left: 0px;
    }

    
@media screen and (min-width: 1200) {
       margin-left: 93px;
}

}




.header .header__container>.header__logo .header__logo--web {
    color: var(--black-color);
}

.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;

}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
}


.header__menu:hover,
.header__menu:focus {
    fill: var(--color-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }
}

.header__nav {
    display: none;
    

@media screen and (min-width: 768px) {
  
      
        display: flex;
        margin-left: 0px;
        list-style: none;
    }
}

.header__nav__item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding: 25px;
}



.header__nav__item:hover,
.header__nav__item:focus {
    color:var(--color-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header__nav .header__nav__item--after {
    position: relative;
    color: var(--color-blue);
}

.header__nav .header__nav__item--after:after {
    position: absolute;
    content: "";
    border: 3px solid var(--color-blue);
    border-radius: 2px;
    bottom: 0px;
    width: 42px;
    left: 25px;


@media screen and (min-width: 481px) and (max-width: 1199px) {
    
       bottom: 0px;
    }

@media screen and (min-width: 1200px) {
  
        bottom: 4px;
}
}

.header__nav .header__nav__item--after-2 {
    position: relative;
    color: var(--color-blue);
    

}



.header__nav .header__nav__item--after-2:after {
    position: absolute;
    content: "";
    border: 3px solid var(--color-blue);
    border-radius: 2px;
    bottom: 0px;
    width: 60px;
    left: 24px;
    
}
   @media screen and (min-width: 481px) and (max-width: 1199px) {
    .header__nav .header__nav__item--after-2:after {
        bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .header__nav .header__nav__item--after-2:after {
         width: 60px;
    left: 25px;
   
    bottom: 4px;
    }
}


.header__list-contact {
    list-style: none;
    display: none;

@media screen and (min-width: 768px) {
   
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
                margin-left: 93px;
}
}

       
  

.header__list-contact__item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--gray-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

}

@media screen and (min-width: 481px) and (max-width: 1199px) {
    .header__list-contact__item {
        font-size: 12px;
    }
}


.header__list-contact__item svg {
    vertical-align: middle;
}

.header__list-contact li:hover .header__list-contact__item svg {
    fill: var(--color-blue);
}

.header__list-contact li:hover .header__list-contact__item {
    color: var(--color-blue);
}

.icon-cel {
    width: 10px;
    height: 16px;
    fill: var(--gray-color);
    flex-shrink: 0;
    justify-content: center;
    margin-left: 5px;
    padding: 10px;
}




.icon-sobre {
    width: 16px;
    height: 12px;
    fill: var(--gray-color);
    flex-shrink: 0;
    margin-left: 5px;
    padding: 10px;
}
/*----------------------------------------------------*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 481px)  {
  
        display: none;
    }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 94px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
color: var(--black-color);
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.8px;
}
.mobile-menu .link:hover{
    color:var(--color-blue);
}
.mobile-menu__2 {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 64px;
}

.mobile-menu__2 .link__2 {
  display: block;
  padding: 10px;
color: var(--color-blue);
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.8px;
}
.mobile-menu__2 .link__3 {
  display: block;
  padding: 10px;
color: var(--gray-color);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.mobile-menu__2 .link__3:hover{
    color:var(--color-blue);
}
.mobile-menu__3 {
  padding: 0;
  margin: 0;
  list-style: none;
   display: flex;
}

.mobile-menu__3 .link__4 {
 
  padding-left: 10px;
   padding-right: 10px;
color: var(--color-blue);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
letter-spacing: 0.36px;
 border-left: 1px solid var(--color-blue); 
}

