.listtext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.listtext__container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

    @media screen and (min-width: 480px)
    { max-width: 1200px;}

 @media screen and (min-width: 1200px)
 {max-width: 1600px;}
}

.listtext__details {
    gap: 30px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 480px) {
  
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
       flex-direction: row;
    }
}



.listtext .listtext__details {
    list-style: none;
    padding-top: 95px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}


.listtext .listtext__details .listtext__details-div {
    margin: 0;
    padding: 0;
    text-align: center;
        @media screen and (min-width: 480px) {
        
                text-align: left;
            }
        
            @media screen and (min-width: 768px) {
            text-align: left;
            }

}

.listtext .listtext__details .listtext__details-div .listtext__details-rectangle {
    border-radius: 4px;
    background: var(--graybackground-color);
    width: 450px;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

@media screen and (min-width: 480px) and (max-width: 1199px) {
    .listtext .listtext__details .listtext__details-div .listtext__details-rectangle {
        width: 354px;
    }
}
@media screen and (min-width: 1200px) {
    .listtext .listtext__details .listtext__details-div .listtext__details-rectangle {
        width: 270px;
    }
}






.listtext__details-rectangle .listtext__details__svg {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}


.listtext__details-div .listtext__details-item {
    flex-basis: calc((100% - 60px) / 4);

@media screen and (min-width: 480px) {

        flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 120px) / 2);
    }
}

.listtext__content-text {
    margin-top: 10px;
    width: 450px;

        @media screen and (min-width: 480px) {
        
            width: 354px;
            }
        
            @media screen and (min-width: 768px) {
            width: 270px;
            }
}
