.container .main__cards {

    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 82px;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.main__card__div {
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    max-width: 370px;
    max-height: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 60px) / 9);
    position: relative;
    overflow: hidden;
}

.main__card__div-card {
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.main__card__div:hover .overlay {
    transform: translateY(0);
    transition: transform 250ms ease-in-out;
    opacity: 1;
}


.overlay p {
    color: var(--white-color);
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding: 63px 24px;
}


.main__card__div:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__card-div__padding {
    margin: 20px 24px 20px 24px;
}

.main__card__content-title {
    text-align: left;
    margin-bottom: 1em;
    padding-top: 20px;
    padding-left: 24px;
}

.main__card__content-text {
    text-align: left;
    margin-bottom: 1em;
    padding-left: 24px
}