.section-one .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.main__btnlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    padding-top: 112px;
    margin-bottom: 56px;
    @media screen and (min-width: 480px) {
       display: flex;
    justify-content: center;
    }
    
}

.main__btnlist__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 3%;
    padding: 10px 24px 10px 24px;
    border-radius: 4px;
    background-color: var(--graybackground-color);
    color: var(--black-color);
    cursor: pointer;
    border: none;
    margin: 8px;
    text-align: center;
}

.main__btnlist__item:hover {
    color: var(--white-color);
    background-color: var(--color-blue);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}