body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    @media (max-width: 480px) {
    overflow-x: hidden; 
  }

}

h1 {
    font-weight: 900;
    font-size: 44px;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: var(--white-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-color);
    cursor: pointer;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--black-color);
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

h4 {
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--black-color);
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 0;
}




p {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--gray-color);
    text-align: justify;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

